<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <p data-placement="top" data-toggle="tooltip" title="Add"> <button type="button" data-toggle="modal" data-target="#ADD" class="btn btn-primary btn-xlg pull-right"><em class="fa fa-plus-circle"></em></button>
               </p>
                <div class="card-header d-flex align-items-center">
                    <h1> Component</h1>
                </div>
                <div class="card-body">
                    <table class="footable table table-striped table-sm" data-page-size="8">
                        <thead>
                            <tr>
                                <th>Component Name</th>
                                <th>Component Description</th>
                                <th>mrc</th>
                                <th>nrc</th>
                                <th>Catgorey</th>
                                <th><em class="fa fa-cog"></em></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let component of components">
                                <td>{{component.name}}</td>
                                <td>{{component.description}}</td>
                                <td>{{component.mrc}}</td>
                                <td>{{component.nrc}}</td>
                                <td>
                                    <div *ngIf="component.categoryId!=null">
                                        {{component.categoryId.name}}
                                    </div>
                                </td>
                                <td>
                                    <a class="btn btn-default" (click)="prepareEdit($event)" [id]="component.id" data-toggle="modal" data-target="#edit"><em (click)="prepareEdit($event)" [id]="component.id" class="fa fa-edit"></em></a>
                                    <a data-toggle="modal" data-target="#delete" class="btn btn-danger" [id]="component.id" (click)="setDeletedID($event)"><em [id]="component.id" (click)="setDeletedID($event)"  class="fa fa-trash"></em></a>
                                </td>
                            </tr>
                        </tbody>
                           <tfoot>
                                <tr>
                                    <td>
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal ADD-->
<div class="modal fade" id="ADD" tabindex="-1" role="dialog" aria-labelledby="ADD" aria-hidden="true">
    <div class="modal-dialog">
                    <form ngNativeValidate (ngSubmit)="addComponent()">
        <div class="modal-content">
            <div class="modal-header">
                <!-- /.modal-Header -->
                <h1 class="text-primary">Add Component</h1>
                <!-- /.modal-header end -->
            </div>
            <div class="modal-body">
                <!-- /.modal-body -->
                    <table class="table">
                        <tr>
                            <td>Name</td>
                            <td><input class="form-control" name="name" type="text" class="form-control" [(ngModel)]="toBeSaved.name"
                                    required/></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td><input type="text" name="description" class="form-control" [(ngModel)]="toBeSaved.description"
                                    required/></td>
                        </tr>
                        <tr>
                            <td>NRC</td>
                            <td><input type="number" name="nrc" class="form-control" [(ngModel)]="toBeSaved.nrc" required/></td>
                        </tr>
                        <tr>
                            <td>MRC</td>
                            <td><input type="number" name="mrc" class="form-control" [(ngModel)]="toBeSaved.mrc" required/></td>
                        </tr>
                
                    </table>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default hidden" data-dismiss="modal" #closeBtn>Cancel</button>
                <!-- /.modal-body end -->

            </div>
        </div>
        <div class="modal-footer ">
            <!-- /.modal-footer -->
            <!-- /.modal-footer end -->

        </div></form>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
<!--ADD ENDING-->


<!--Modal Edit-->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
                    <form ngNativeValidate (ngSubmit)="editComponent()">
        <div class="modal-content">
            <div class="modal-header">
                <!-- /.modal-Header -->
                <h1 class="text-primary">Edit Component</h1>
                <!-- /.modal-header end -->
            </div>
            <div class="modal-body">
                <!-- /.modal-body -->
                <table class="table">
                    <tr>
                        <td>Name</td>
                        <td><input class="form-control" name="name" type="text" class="form-control" [(ngModel)]="toBeSaved.name" required/></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><input type="text" name="description" class="form-control" [(ngModel)]="toBeSaved.description" required/></td>
                    </tr>
                    <tr>
                        <td>NRC</td>
                        <td><input type="number" name="nrc" class="form-control" [(ngModel)]="toBeSaved.nrc" required/></td>
                    </tr>
                    <tr>
                        <td>MRC</td>
                        <td><input type="number" name="mrc" class="form-control" [(ngModel)]="toBeSaved.mrc" required/></td>
                    </tr>
                    <tr>
                        <td>Catgorey</td>
                        <td>
                            <select name="category" class="form-control" (change)="onChange($event)">
                                  <!--<option>Pick One</option>-->
                             <option  *ngFor="let cat of catgories,let i of index" [value]="cat.id">{{cat.name}}</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default hidden" data-dismiss="modal" #closeBtn2>Cancel</button>
                <!-- /.modal-body end -->

            </div>
        </div></form>
        <div class="modal-footer ">
            <!-- /.modal-footer -->
            <!-- /.modal-footer end -->

        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
<!--EDIR ENDING-->

<!--Modal Dekete-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- /.modal-Header -->
                <h1 class="text-danger">Are you sure You want to Delete Component?</h1>
                <!-- /.modal-header end -->
            </div>
            <div class="modal-body">
                <!-- /.modal-body -->
                <button type="button" class="btn btn-default" data-dismiss="modal" #closeBtn3>Cancel</button>
                <a (click)="deleteComponent()" class="btn btn-danger btn-ok">Delete</a>

                <!-- /.modal-body end -->

            </div>
        </div>
        <div class="modal-footer ">
            <!-- /.modal-footer -->
            <!-- /.modal-footer end -->

        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
<!--Delete ENDING-->
